*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

/*Global tags*/

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35,35,85);

}

span{
    font-size: .9rem;
    color:#757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/*navigation */

.navbar{
   
    
    width: 100%;
    background-color:#fff;
    
    position: fixed;
    z-index: 999;
    width: 100%;
    display:block ;
    justify-content: space-between;
    box-shadow: 2PX 2PX 10px 10px rgba(0, 0, 0, 0.19);
}



.navbar img{
    height: 70px;
    width: 60px;
}

.navbar .brand{
    padding-left: 0px;
    text-align: start;
    display: flex;
    align-items: center;
    }

    .navbar ul{
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 70px;
       
    }

    
.navbar ul li{
    float: left;

}

a{
    display: block ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:grey;
    width:170px;
    position: center;
    text-transform: uppercase;
    margin-left: 0.5rem;
}

.navbar ul li a:hover{
    color: gray;
    font-size: 18px;
    background: gold;

}

.navbar ul li a::after{
    content: '';
    background: #e21010;
    width: 100%;
    height: 3px;
    position: relative;
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    transform-origin: center;
}
.navbar ul li a:hover::after{
    transform: scaleX(1);
  }

.nav{
    display: none;
}

.social{
    float: right;
    margin-right: 20px;
}

.social a{
    font-size: 16px;
    max-width: 50px;
    height: 70px;
}

/* Home */

#Home{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#Home h2{

    font-size: 2.2rem;
    letter-spacing: 1px;
    color:grey;
    margin-top: 90px;
    margin-top: 30px;
}

#Home h3{

    font-size: 2.2rem;
    letter-spacing: 1px;
    color: grey;
    margin-top: 40px;
}

#Home p3{

    font-size: 1.9rem;
    line-height: 25px;
    color: grey;
    width: 50%;
    margin-top: 10px;
}

#Home p{
    margin-top: 20px;
    font-size: 1.9rem;
    line-height: 25px;
    word-spacing: 1rem;
    color: grey;
    width: 50%;
}

#Home ul li{
    color: grey;
}


#Home a{
text-decoration: none !important;
font-size: 0.9rem;
background-color: white;
font-weight: 600;
padding: 15px 40px;
border-radius: 5px;

}

#experts{
    text-align: center;
    padding: 8vw 8vw 8vw 8vw;
    background: rgba(21, 21, 100);
}


#experts .profiles img{
    height: 80%;  
    width: 60%;
}

#experts .pro-links img{
    height: 20px;
    width: 25px;
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid rgba(21, 25, 100);
    transition: .8s ease-in;
   
}

#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;  
}

#experts .expert-box .profiles{
    background: #fafaf1;
    padding: 30px 10px;

}

#experts h1{

    color:#F9F9FF
}

#experts p{

    color:#F9F9FF;
    margin-top: 15px;
    
}

.pro-links{
    margin-top: 10px;
    display: flex;
}

.pro-links img{
    margin-top: 10px;
    display: flex;
    margin-left: 1rem;
}

.pro-links img:hover{
    background: rgba(21, 25, 100);
    color: #FFF;
    cursor: pointer;
}



/*features coding --*/
#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    background: rgb(21, 21,100);
}

#features h1{

color: aliceblue;
}

#features p{

    color: aliceblue;
    }

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    height: 100%;

}
#features .fea-box {
    text-align: start;
    background: grey
}

#features .fea-box img{
width: 190px;
font-size: 2.3rem;
color: rgb(46, 46,59);
height: 120px;

}
#features .fea-box h3{
    font-weight: 600;
    font-size: 1.2rem;
    color: #F9F9FF;
    padding: 13px 0 7px 0;
}
#features .fea-box p{
    font-weight: 400;
    font-size: 1rem;
    color: #FDFF99;
        
}







#experts1{
    margin-top: 14px;
    text-align: center;
    padding: 8vw 8vw 8vw 8vw;
    background-color: grey;
}



#experts1 .expert-box1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;  
}

#experts1 .expert-box1 .profiles1{
    background: #fafaf1;
    padding: 30px 10px;

}

.pro-links2{
    display: flex;
    flex-direction: row;
}


.pro-links2 img{
    margin-top: 90px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 11.2rem;
    
}




/*responsive part of the page*/
@media (max-width: 780px) {

    .pro-links2 img{
        margin-top: 90px;
        height: 50px;
        display: flex;
        flex-direction: row;
        margin-left: 3.2rem;
        
    }
    

    .nav{
        background: purple;
        text-align: center;
        display: block;
        font-size: 30px;
        padding: 10px 0px 10px 0px;
        width: 100%;
        margin-left: 0;
    }

    .navbar ul li{
        float: none;
        width: 100%;
        display: none;
        
    }

    .navbar .brand {
        display: none;
        

        
    }
    .navbar .brand img{
        display: none;
    
    }
    .navbar ul li a{
        width: 100%;
        text-align: center;
        font-size: 14px;
       
    }

    .social{
       
        width: 100%;
        float: left;
        text-align: center;
        border-top: 1px solid gray ;
    }

    .social ul li{
        float: left;
        max-width: 60px;
        margin-left: 70px;
    }

    .social img{
        height: 40px;
        width: 30px;
    }

    #Home{
    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
    }

    #features{
        padding: 5vw 8vw 0 8vw;
        text-align: center;
        background: rgb(21, 21,100);
        margin-top: 1rem;
    }

    #registration .form{
        display:block;
        margin-left: 3rem;
        margin-top: 4rem;
        width: 20rem;
        
    
    
    }

    #registration{
        display:block;
        margin-left: 2rem;
        margin-top: 4rem;
        
    
    
    }

    
    
    #courses .course-base{
        
    
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
        height: 100%;
        margin-left: 2rem;
        margin-right: 1rem;
    }
        
    #courses .course-box{
        text-align: center;
        position: relative;
        width: 30%;
        height: auto;
    }

    .pro-links{
        margin-top: 60px;
        display: flex;
    }

    .pro-links img{
        margin-top: 10px;
        display: flex;
        margin-left: 3rem;
        height: 10px;
        width: 20px;
    }

    #experts .profiles img{
        height: 50%;  
        width: 50%;
    }

    .pro-links2{
        margin-left: -70px;;
    }

    .pro-links2 img{
        height: 35px;
    }


}


   
@media(min-width: 780px){

    .navbar ul li{
        display: block !important;

    }


}
    
